<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="content-language" content="es-ES" />
    <meta
      name="description"
      content="Un romance sobre dos de las mujeres más poderosas del mundo."
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="manifest" href="manifest.json" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/notes.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Inicio</a><a href="/Post/">Post</a
      ><a href="/about/">Acerca de</a>
    </nav>
    <h1>{{ page.title }}</h1>
    <section>{{ content }}</section>
    <footer>
      <hr />
      <p>
        <small>
          &copy;2023
          <a href="https://twitter.com/MalaLetraFics">@MalaLetraFics</a> Creado
          con mucha frustración, probablemente.
        </small>
      </p>
    </footer>
  </body>
</html>
