---
layout: default
author: MalaLetra
---

<script>
  setInterval(savePos, 3000);
  var mylatesttap;
  function doubletap(evt) {
    var now = new Date().getTime();
    var timesince = now - mylatesttap;
    if (timesince < 600 && timesince > 0) {
      let x = evt.clientX / innerWidth;
      let y = evt.clientY / innerHeight;
      var elemDiv = document.createElement("div");
      elemDiv.style.setProperty("--mouse-x", x);
      elemDiv.style.setProperty("--mouse-y", y);
      elemDiv.classList.add("hearth");
      document.body.appendChild(elemDiv);
    }
    mylatesttap = new Date().getTime();
  }
  document.addEventListener("click", doubletap);


  function share() {
    let data = {
      //"title": "MalaLetra",
      //"text": document.url,
      "url": document.URL,
    }
    navigator.share(data)
      .then(() =>
        resultPara.textContent = 'MDN shared successfully'
      )
      .catch((e) =>
        resultPara.textContent = 'Error: ' + e
      );

  }
</script>
<div class="post-date-author">
  {{ page.date | date_to_long_string }} - Escrito por: MalaLetra - {{
  page.content | number_of_words | divided_by:180 }} mins
</div>
<!-- <div class="post-date-author">
  {{content | number_of_words | divided_by:180 }} mins
</div> -->
<br />
{{ content }}
<div style="margin:auto; margin-top: 2rem;width:fit-content;">
  <button class="icon-button" onclick="share()"><img src="/css/font_icons/share.svg" />
    <span>Compartir</span>
  </button>

</div>